.MyReview_con {
  width: 100%;
  position: absolute;
  font-family: "MonoplexKR-Regular";
  margin-top: 130px;
}

.MyReview_title {
  font-size: 2rem;
  letter-spacing: -8px;
  position: relative;
  left: 10%;
}
.MyReview_body {
  position: relative;
  text-align: center;
  height: 500px;
  width: 100%;
  border: solid black 3px;
}
.MyReview_search_con {
  position: relative;
  width: 1000px;
  height: 80px;
  border: solid green 1px;
  margin: auto;
  background-color: red;
}
.MyReview_search_box {
  position: relative;
  top: 20%;
  font-size: 1rem;
}
.input_seach {
  width: 600px;
  height: 40px;
}
.button_search {
  background-color: gray;
  padding: 15px;
}
.MyReview_subject_list {
  height: 420px;
  width: 1000px;
  background-color: green;
  margin: 0 auto;
}
